<html>
    <head>
        <title>Michelle blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>MUSICA KRAKEN.</p>
            <a href="https://www.youtube.com/watch?v=VIXEj76H79o&list=RDyo9WrDot5oQ&index=2">link</a>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>mi primer post.</p>
        </div>
    </body>
</html>